@font-face {
	font-family: Futura PT;
	font-weight: 300;
	src: url(../fonts/FuturaPT-Light.ttf);
}

@font-face {
	font-family: Futura PT;
	font-weight: 400;
	src: url(../fonts/FuturaPT-Book.ttf);
}

@font-face {
	font-family: Futura PT;
	font-weight: 500;
	src: url(../fonts/FuturaPT-Medium.ttf);
}

@font-face {
	font-family: Futura PT;
	font-weight: 700;
	src: url(../fonts/FuturaPT-Bold.ttf);
}

:root {
	--primary-bg: #f6f6f6;
	--white: #ffffff;
	--primary-text: #111;
	--black: '#000';
	--green: #30ab4c;
	--red: #ad4844;
	--gray: #d9d9d9;
	--dark-gray: #bebebe;
	--menu-item-font-size: 15px;
	--description-font-size: 16px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Futura PT, 'sans-serif';
}

body {
	background-color: var(--primary-bg);
	color: var(--primary-text);
}

button {
	outline: none;
	border: none;
	padding: 10px 40px;
	font-weight: 700;
	font-size: 20px;
	color: var(--primary-bg);
}

img {
	width: fit-content;
	max-width: 100%;
}

.section-title {
	text-align: center;
	background: linear-gradient(
		90deg,
		#111 -8.85%,
		#b1b1b1 58.84%,
		#696969 91.39%,
		#b1b1b1 116.12%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title-line {
	height: 1px;
	width: 126px;
	background-color: var(--primary-text);
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 28px;
	font-weight: 500;
}

h3 {
	font-size: 25px;
	font-weight: 500;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 960px) {
	:root {
		--menu-item-font-size: 16px;
	}

	h1 {
		font-size: 66px;
	}
	h3 {
		font-size: 31px;
	}
}

@media screen and (min-width: 1440px) {
	h1 {
		font-size: 90px;
	}
	h2 {
		font-size: 36px;
	}
	p {
		font-size: 18px;
	}
	:root {
		--description-font-size: 18px;
	}
}
@media screen and (min-width: 1840px) {
	h1 {
		font-size: 120px;
	}
	h2 {
		font-size: 48px;
	}
	p {
		font-size: 20px;
	}
	:root {
		--description-font-size: 20px;
	}
}
