.product {
	width: 100%;
}

.product__image-wrapper {
	margin: 0px auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.product__image {
	width: 66%;
	max-width: 440px;
	position: relative;
}

.product__vector-right {
	position: absolute;
	top: 40%;
	right: 4%;
}

.product__vector-left {
	position: absolute;
	bottom: 10%;
	left: 4%;
}

.product__bottles {
	position: relative;
	z-index: 5;
}

.product__text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}
.product__title {
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 33px;
}

.product__title span {
	color: #ab303c;
}

.product__subtitle {
	background: linear-gradient(90deg, #111 -8.85%, #b1b1b1 116.12%);
	max-width: 650px;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.product__description {
	margin: 20px 0;
	font-size: var(--description-font-size);
	max-width: 650px;
}

.product__button {
	background-color: var(--green);
}

@media screen and (min-width: 960px) {
	.product {
		display: flex;
		align-items: flex-start;
	}

	.product__image-wrapper {
		width: 50%;
		padding-top: 20px;
	}

	.product__image {
		width: 90%;
		max-width: 660px;
		padding: 0;
	}

	.product__text-content {
		width: 50%;
		align-items: self-start;
		text-align: left;
		padding: 22vh 60px 0 20px;
	}
}

@media screen and (min-width: 1840px) {
	.product__image {
		max-width: 740px;
	}
}
